DATABASE_URL=postgresql://clube:clube@127.0.0.1:15432/clube_do_album_feed
RABBITMQ_URL=amqp://clube:clube@localhost:5672
SERVER_PORT=3003
CATALOG_API_URL=http://localhost:3001
IDENTITY_API_URL=http://localhost:8081

RABBITMQ_EXCHANGE=clube-do-album.events
RABBITMQ_DEAD_LETTER_EXCHANGE=clube-do-album.dead-letter
ALBUM_RATED_QUEUE=feed.album-rated.queue
ALBUM_RATED_ROUTING_KEY=album.rated
USER_FOLLOWED_QUEUE=feed.user-followed.queue
USER_FOLLOWED_ROUTING_KEY=user.followed
