DATABASE_URL=postgresql://clube:clube@localhost:5432/clube_do_album
RABBITMQ_URL=amqp://clube:clube@localhost:5672

ALBUM_RATED_QUEUE=album.rated.queue
REVIEW_CREATED_QUEUE=review.created.queue
USER_FOLLOWED_QUEUE=user.followed.queue
