DATABASE_URL=postgresql://clube:clube@127.0.0.1:15432/clube_do_album_feed
RABBITMQ_URL=amqp://clube:clube@localhost:5672
SERVER_PORT=3003

RABBITMQ_EXCHANGE=clube-do-album.events
ALBUM_RATED_QUEUE=feed.album-rated.queue
ALBUM_RATED_ROUTING_KEY=album.rated
